<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Web App</title>
    {% load static %}
    <link rel="stylesheet" href="{% 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Weather Web App</h2>
        <form method="get">
            <input type="text" name="city" placeholder="Search City..." required>
            <button type="submit">Get Weather</button>
        </form>
        {% if weather_data %}
            {% if weather_data.error %}
                <h3>{{ weather_data.error }}</h3>
            {% else %}
                <h2>In {{ weather_data.city }}</h2>
                <p>Temp : {{ weather_data.temperature }}°C</p>
                <p>{{ weather_data.description }}</p>
                <p><img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" class="weather-icon" alt="Weather icon"></p>
                <p>DTS : {{ weather_data.datetime|date:"Y-m-d H:i:s" }}</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
